/*--- COLORS ---*/
$primary: #4682b4;
$secondary: #87cefa;
$tertiary: #00bfff;
$highlight: #da70d6;
$light: #fafafa;
$dark: #444;

/*--- FONT ---*/
$text: "Josefin Sans", sans-serif;
$title: "Oswald", sans-serif;
